@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-in {
    animation: 0.2s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.fade-out {
    animation: 0.2s fadeOut;
    animation-fill-mode: forwards;
}