@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-in {
    animation: 0.2s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.fade-out {
    animation: 0.2s fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeInAbout {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.fade-in-about {
    animation: 2.5s fadeIn;
}

.link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease-out;
}

.link:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}